html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DB HelvethaicaMon X', sans-serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bs-stepper-circle1 {
  display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 10px 0;
    line-height: 1em;
    color: #fff;
    background-color: #969696c3;
    border-radius: 50%;
    font-size: 15px;
} 

@font-face {
  font-family: 'DB HelvethaicaMon X';
  src: local(''), url(../fonts/DB-HelvethaicaMon-X.ttf ) format('opentype');
}

.row {
  --bs-gutter-x: 0rem !important;
  flex-wrap: nowrap !important;
}


.carousel {
  z-index: 0 !important;
  border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.close{
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  border: 0;
  background-color: #EB5757 !important;
  color: #fff;
  font-size: 16px;
  margin: 5px;
}

.carousel-indicators {
  bottom: 1rem !important;
  z-index: 100 !important;
}
.carousel-indicators [data-bs-target] {
  background-color: #00AEEF !important;
}

.coverdown {
  color: white;
  width: 100%;
  height: 30%;
  position:absolute;
  bottom:0%;
  background: rgba(0,0,0,0.5);
  text-align: center;
}

.page-item:not(:first-child) .page-link {
    margin-left: 15px !important; 
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: #000000 !important;
  color: #fff !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 4px;
}

.page-link {
  border-radius: 4px;
  color: #BCBCBC !important;
}

.page-item.disabled .page-link {
  color: #FFFFFF !important;
  background-color: #000000 !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 0rem !important;
   padding-left: 0rem !important; 
  margin-right: auto;
  margin-left: auto;
}